[influxdb]
url=http://127.0.0.1:8086
username=
password=
db_name=sxiot

[mysql]
url=127.0.0.1:3306
username=root
password=123456
db_name=sxiot

[platform]
web_port=9005
jwt_secret=asdfghjkl

[monitor]
interval=20

[emqtt]
emq_user=admin
emq_passwd=public
emq_url=http://127.0.0.1:8080
mqtt_url=tcp://127.0.0.1:1883
mqtt_username=sxiot-agent
mqtt_password=fsfjaffrssdk

[etcd]
url=127.0.0.1:2379